#baidumap{
	/*最大宽度980*/
	max-width: 980px;
	/*宽度100%*/
	width:100%;
	/*无边界，自动调整*/
	margin: 0 auto;
	/*相对位置*/
	height: 640px;
	overflow: hidden;
}
#querycontent,#addsomemaker{
	
	/*离下面的部分宽度为2*/
	margin-bottom: 2px;
	/*离上面10个像素*/
	padding-top: 2px;
	padding-bottom: 2px;
}
