/*body里面所有内容的整体样式*/
body{
	/*最大宽度980*/
	max-width: 980px;
	/*宽度100%*/
	width:100%;
	/*无边界，自动调整*/
	margin: 0 auto;
	/*相对位置*/
	position:relative;
	/*文字居中*/
	text-align:center;
	/*字体类型*/
	font-family:"book antiqua";
	
	background: #F0F0D8;
}

/*正文头部标题栏样式*/
header{
	/*高度150px*/
	height: 150px;
	/*背景图片*/
	background: #fff url(../img/hdzh.png) no-repeat;
	/*字体为白色*/
	color: white;
	/*边框样式：虚线，宽度为1*/
	/*border: dashed 1px;*/
	
}

/*视频和二级标题居中*/
#video1,h2{
	text-align:center;
}

/*导航栏整体样式*/
nav{
	/*最大宽度980*/
	max-width: 978px;
	/*宽度100%*/
	width:100%;
	/*无边界，自动调整*/
	margin: 0 auto;
	/*相对位置*/
	position:relative;
	/*漂移到左边*/
	float: left;
	/*边框样式：虚线，宽度为1*/
	border: dashed 1px;
	/*文字居中*/
	text-align:center;
	/*高度自动*/
	height: auto;
	/*离下面的部分宽度为2*/
	margin-bottom: 8px;
	
}

/*导航内部*/
ul{
	/*去掉导航条中间的小点*/
	list-style:none;
}

/*导航子菜单样式*/
nav li{
	/*字体大小*/
	font-size:16px;
	/*导航子菜单项漂移*/
	float:left;
	zoom:1;
	/*导航菜单项的背景颜色*/
	/*background:gainsboro;*/
	/*高度自动*/
	height: auto;
}

/*导航中的子项中的a链接的样式*/
nav li a {
	display:block;
	/*填充*/
	padding:16px 15px;
	/*字体颜色*/
	color:#666666;
	/*去掉下划线*/
	text-decoration:none
}

/*鼠标移动到导航上时，背景颜色变化*/
nav li a:hover {
	/*字体加粗*/
	font-weight: 600;
}

/*正文主体部分的整体样式*/
#content {
	/*漂移靠右*/
	float: right;
	/*文字靠左*/
	text-align:left;
	/*边框样式：虚线，棕色，宽度为1*/
	/*border:dashed brown 1px;*/
}

/*主体部分的底部说明样式*/
footer{
	/*离上面10个像素*/
	padding-top: 2px;
	/*清除周四边*/
	clear: both;
	/*覆盖隐藏*/
	overflow: hidden;
	/*离底部10个像素*/
	margin-bottom: 5px;
	/*高度100*/
	height: 50px;
	/*字体颜色为白色*/
	color: white;
	/*背景图片*/
	background: url(../img/bg3.jpg);
	/*文字居中*/
	text-align:center;
	vertical-align: middle;
}
